<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYPROGRAM</title>
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <div>
        <a href="/" class="logo">
            <h2 class="hh">SKYPROGRAM</h2>
        </a>
        <a href="/search">
            <img src="../static/img/search.jpg" class="search_logo">
        </a>
        <a href="/bookmarks">
            <img src="../static/img/bookmark.png" alt="" width="28">
            <span>{{ count }}</span>
        </a>
    </div>
</header>

<main class="container">
    <div class="search">
        <form action="/search" method="get">
            <input type="search" name="query">
        </form>
    </div>
    <section>
        {% for post in all_posts.values() %}
            <div>
                <div>
                    <a href="/users/{{ post.poster_name }}" methods="get">
                        <div>
                            <img src="{{ post.poster_avatar }}" width="47" alt="" class="ava">
                        </div>

                        <span>
                        {{ post.poster_name }}
                        </span>
                    </a>
                </div>
                {#  Блок под картинку поста  #}
                <a href=""> <img src="{{ post.pic }}" alt="" width="348"> </a>
                <p> {{ post.content[0:30] }}... </p>
                <div>
                    <div>
                        <img src="../static/img/eye.png" alt="" width="26">
                        <span>{{ post.views_count }}</span>
                    </div>
                </div>
                <div>
                    <a href="/posts/{{ post.pk }}" class="post_details"> Подробнее </a>
                    <form method="post" enctype="multipart/form-data">
                        <button name="book" value="{{ post.pk }}" type="submit" class="button_bookmarks">
                            <img src="../static/img/bookmark.png" alt="" width="24">
                        </button>
                    </form>
                </div>
                <hr>
            </div>
        {% endfor %}
    </section>
</main>


</body>

</html>
